<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <footer id="foo" class="footer mt-auto py-3 bg-light">
    <div class="container p-4">
    <div class="row">
      <div class="col-lg-3 col-md-12 mb-1 mb-md-0">
        <i class="fa-solid fa-people-group fa-2x pb-3 ps-3"></i>
        <div class="ps-3">
        <h5 >Team</h5>
        </div>
         <ul>
            <li> Mahmoud Alshahin</li>
            <li> Hisham Al Wattar</li>
            <li> Ahmad Alashtar</li>
            <li> Rawan Mustafa</li>
            <li> Sakarie Ali</li>
         </ul>  
           
      </div>
      <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
        <i class="fa-regular fa-envelope fa-2x pb-3 ps-3" ></i>
        <h5>Email</h5>
        <ul>
            <li>
                <a href="mailto:mahmoudshaheen198811@gmail.com" class="link-info pt-3"><i class="fa-solid fa-envelope"></i>  Mahmoud Alshahin</a>
            </li>
            <li>
                <a href="mailto:ahmadalashtar@gmail.com" class="link-info"><i class="fa-solid fa-envelope"></i> Ahmad Alashtar</a>

            </li>
            <li>
                <a href="mailto:ahmadalashtar@gmail.com" class="link-info"><i class="fa-solid fa-envelope"></i> Ahmad Alashtar</a>
            </li>
            <li>
                <a href="mailto:ahmadalashtar@gmail.com" class="link-info"><i class="fa-solid fa-envelope"></i> Ahmad Alashtar</a>
            </li>
            <li>
                <a href="mailto:ahmadalashtar@gmail.com" class="link-info"><i class="fa-solid fa-envelope"></i> Ahmad Alashtar</a>
            </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
        <i class="fa-solid fa-phone-volume fa-2x pb-3 ps-3"></i>
        <h5>Call Me </h5>
        <ul>
            <li> <a href="https://github.com/mahmoudsha" class="link-info pe-3"><i class="fa-brands fa-github"></i> Mahmoud Alshahin</a></li>
            <li> <a href="https://github.com/0Rawan" class="link-info"><i class="fa-brands fa-github"></i> Rawan Mustafa</a></li>
            <li> <a href="https://github.com/ahmadalashtar" class="link-info"><i class="fa-brands fa-github"></i> Ahmad Alashtar</a></li>
            <li> <a href="https://github.com/HishamWattar" class="link-info"> <i class="fa-brands fa-github"></i> Hisham Al Wattar</a></li>
            <li> <a href="https://github.com/sack-ali" class="link-info"><i class="fa-brands fa-github"></i> Sakarie Ali</a></li>
        </ul>
       
       
       
       
       
      </div>
      <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
        <i class="fa-brands fa-linkedin-in fa-2x pb-3 ps-3"></i>
        <h5> Contact Us </h5>
       
        <ul>
            <li><a href="https://www.linkedin.com/in/mahmoud-alshahin-887372251/" class="link-info"> <i class="fa-brands fa-linkedin"></i> Mahmoud Alshahin</a></li>
            <li><a href="https://linkedin.com/in/ahmadalashtar" class="link-info"><i class="fa-brands fa-linkedin"></i> Ahmad Alashtar</a></li>
            <li><a href="https://linkedin.com/in/ahmadalashtar" class="link-info"><i class="fa-brands fa-linkedin"></i> Ahmad Alashtar</a></li>
            <li><a href="https://linkedin.com/in/ahmadalashtar" class="link-info"><i class="fa-brands fa-linkedin"></i> Ahmad Alashtar</a></li>
            <li><a href="https://linkedin.com/in/ahmadalashtar" class="link-info"><i class="fa-brands fa-linkedin"></i> Ahmad Alashtar</a></li>
        </ul>
        </div>
      </div>
    </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>

