<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <footer id="foo" class="footer mt-auto py-3 bg-light">
    <div class="container p-4">
    <div class="row">
      <div class="col-lg-3 col-md-12 mb-1 mb-md-0">
        <i class="fa-solid fa-people-group fa-2x pb-3 ps-3"></i>
        <div class="ps-3">
        <h5 >Team</h5>
        </div>
         <ul>
            <li> Mahmoud Alshahin</li>
            <li> Hisham Al Wattar</li>
            <li> Ahmad Alashtar</li>
            <li> Rawan Mustafa</li>
            <li> Sakarie Ali</li>
         </ul>  
           
      </div>
      <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
        <i class="fa-regular fa-envelope fa-2x pb-3 ps-3" ></i>
        <h5>Email</h5>
        <a href="#" class="link-info pt-3">info@service-ist.com</a>
        <a href="#" class="link-info">system@service-ist.com</a>
      </div>
      <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
        <i class="fa-solid fa-phone-volume fa-2x pb-3 ps-3"></i>
        <h5>Call Me </h5>
        <ul>
            <li> <a href="https://github.com/mahmoudsha" class="link-info pe-3"><i class="fa-brands fa-github"> Mahmoud Alshahin</i></a></li>
            <li> <a href="https://github.com/0Rawan" class="link-info"><i class="fa-brands fa-github">Rawan Mustafa</i> </a></li>
            <li> <a href="https://github.com/ahmadalashtar" class="link-info"><i class="fa-brands fa-github">Ahmad Alashtar</i> </a></li>
            <li> <a href="https://github.com/HishamWattar" class="link-info"> <i class="fa-brands fa-github">Hisham Al Wattar</i> </a></li>
            <li> <a href="https://github.com/sack-ali" class="link-info"><i class="fa-brands fa-github">Sakarie Ali</i> </a></li>
        </ul>
       
       
       
       
       
      </div>
      <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
      
        <h5> Contact Us </h5>
       
        <div class="btn-group pb-3 pt-3" role="group" aria-label="Basic mixed styles example">
          <button type="button" class="btn btn-danger" onclick="location.href=' https://www.youtube.com/channel/UCV_XqFPSyDwBvkUIZbJtlBQ'"><i class="fa-brands fa-youtube "></i></button>
          <button type="button" class="btn btn-warning" onclick="location.href='#'"><i class="fa-solid fa-house" ></i></button>
          <button type="button" class="btn btn-primary" onclick="location.href='https://www.facebook.com/servicefromistanbul'"><i class="fa-brands fa-facebook"></i></button>
        </div>
        </div>
      </div>
    </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>

