<footer class="py-3 border-top">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <p class="small">
            <b>cooks kingdom</b> &copy; <%= new Date().getFullYear() %>
          </p>
        </div>
        <div class="col-4">
          <p class="small text-center">All rights reserved.</p>
        </div>
        <div class="col-4">
          <div class="d-flex justify-content-end gap-5">
            <i class="bi-twitter"></i>
            <i class="bi-linkedin"></i>
            <i class="bi-instagram"></i>
          </div>
        </div>
      </div>
    </div>
  </footer>